<%- include('../partials/head.ejs') %>
<%- include('../partials/menu.ejs') %>

<br>
<div class="container">
    <a href="/feriados/novo" class="btn btn-primary">Novo Feriado</a>
    <br>
    <div class="card">
        <div class="card-header">
            Feriados Cadastrados
        </div>
        <div class="card-body">
            <% if(msgOK == '1') {%>
                <div class="alert alert-success">
                    <strong>:D Operação realizada com sucesso! </strong>
                </div>
             <% } %>
            <% if(msgNOK == '0') {%>
                <div class="alert alert-danger">
                    <strong>:( Dados já existentes!</strong>             
                </div>
            <% } %>
            <table class="table table-bordered">
                <thead>
                    <th class="col-5">Nome do Feriado</th>
                    <th class="col-3">Tipo do Feriado</th>
                    <th class="col-2">Data</th>
                    <th class="col-2">Ações</th>
                </thead>
                <tbody>
                    <% feriados.forEach(feriado => { %>
                        <tr>
                            <td><%= feriado.nomeFeriado %></td>
                            <td><%= feriado.tipo %></td>
                            <td>
                                <script>
                                    // Função para formatar a data no formato local
                                    function formatarData(dataString) {
                                         // Dividir a string de data em ano, mês e dia
                                        const partes = dataString.split('-');
                                                                        
                                        // Criar um objeto Date com base nas partes da data
                                        const dataBanco = new Date(partes[0], partes[1] - 1, partes[2]);
                                                                        
                                        // Definir as opções de formatação
                                        const opcoesDeFormatacao = {year: 'numeric', month: 'numeric', day: 'numeric'};
                                                                        
                                        // Formatando a data
                                        const dataFormatada = dataBanco.toLocaleDateString('pt-BR', opcoesDeFormatacao);
                                                                        
                                        // Exibir a data formatada
                                        document.write(dataFormatada);
                                    }
                                    // Chamar a função com a string de data do banco de dados
                                    formatarData('<%= feriado.dataFeriado %>');
                                </script>
                            </td>
                            <td>
                                <a href="/feriados/<%= feriado.id %>" class="btn btn-primary">Editar</a>
                                <a href="/feriados/delete/<%= feriado.id %>" class="btn btn-danger">Excluir</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>