<%- include('../partials/head.ejs') %>
<%- include('../partials/menu.ejs') %>
<br>
<div class="container">
    <div class="card">
        <div class="card-header">Nova Disciplina</div>
        <div class="card-body">
            <form method="POST" action="/impressaos/salvarDisc">
                <input type="hidden" name="id" value="<%= impressao.id %>">
                <br>
                <label for="disciplinaId">Selecione a disciplina</label>
                <br>
                <label for="disciplinaId">Disciplina</label>
                <div class="form-floating mb-3">
                    <select class="form-control" name="disciplinaId" id="disciplinaId">
                        <% disciplinas.forEach(disciplina => { %>
                            <option value="<%= disciplina.id %>">Nome: <%= disciplina.nomeDisciplina %> - Código: <%= disciplina.codigoDisciplina %> - Semestre: <%= disciplina.semestre %> - Período: <%= disciplina.periodo %></option>
                        <%})%>
                        required>
                    </select>
                </div>
                <div class="form-floating mb-3">
                    <input 
                        type="time" 
                        name="horarioDisc" 
                        class="form-control" 
                        id="horarioDisc" 
                        placeholder="Horário da disciplina" 
                        required>
                    <label for="horarioDisc">Horário da disciplina</label>
                </div>
                <div class="form-floating mb-3">
                    <input 
                        type="text" 
                        name="aulasDisc" 
                        class="form-control" 
                        id="aulasDisc" 
                        placeholder="Quantidade de aulas" 
                        required>
                    <label for="aulasDisc">Quantidade de aulas</label>
                </div>
                <label for="tipo">Dia da semana</label>
                <div class="form-floating mb-3">
                    <select name = "diaSemanaDisc"> 
                        <option value = "Null"> Selecione uma opção</option>
                            <option value = "seg."> Segunda-Feira</option>
                            <option value = "ter."> Terça-Feira</option>
                            <option value = "qua."> Quarta-Feira</option>
                            <option value = "qui."> Quinta-Feira</option>
                            <option value = "sex."> Sexta-Feira</option>
                            <option value = "sáb."> Sábado</option>
                        required>
                </select> 
                </div>
                <div class="form-floating mb-3">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a href="/impressaos" class="btn btn-warning">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>


<label for="disciplinaId2">Disciplina-2</label>
<div class="form-floating mb-3">
    <select class="form-control" name="disciplinaId2" id="disciplinaId2">
        <% disciplinas.forEach(disciplina => { %>
            <option value="<%= disciplina.id %>">Nome: <%= disciplina.nomeDisciplina %> - Código: <%= disciplina.codigoDisciplina %> - Semestre: <%= disciplina.semestre %> - Período: <%= disciplina.periodo %></option>
        <%})%>
        required>
    </select>
</div>
<div class="form-floating mb-3">
    <input 
        type="time" 
        name="horarioDisc2" 
        class="form-control" 
        id="horarioDisc2" 
        placeholder="Horário da disciplina" 
        required>
    <label for="horarioDisc2">Horário da disciplina</label>
</div>
<% if(msgHorarioInvalido == '1') {%>
    <div class="alert alert-danger">
        O horário não corresponde com o período da disciplina
    </div>
<% } %>
<div class="form-floating mb-3">
    <input 
        type="text" 
        name="aulasDisc2" 
        class="form-control" 
        id="aulasDisc2" 
        placeholder="Quantidade de aulas" 
        required>
    <label for="aulasDisc2">Quantidade de aulas</label>
</div>
<label for="tipo">Dia da semana</label>
    <div class="form-floating mb-3">
        <select name = "diaSemanaDisc2"> 
            <option value = "Null"> Selecione uma opção</option>
            <option value = "seg."> Segunda-Feira</option>
            <option value = "ter."> Terça-Feira</option>
            <option value = "qua."> Quarta-Feira</option>
            <option value = "qui."> Quinta-Feira</option>
            <option value = "sex."> Sexta-Feira</option>
            <option value = "sáb."> Sábado</option>
            required>
    </select> 
    </div>
    <label for="disciplinaId3">Disciplina-3</label>
<div class="form-floating mb-3">
    <select class="form-control" name="disciplinaId3" id="disciplinaId3">
        <% disciplinas.forEach(disciplina => { %>
            <option value="<%= disciplina.id %>">Nome: <%= disciplina.nomeDisciplina %> - Código: <%= disciplina.codigoDisciplina %> - Semestre: <%= disciplina.semestre %> - Período: <%= disciplina.periodo %></option>
        <%})%>
        required>
    </select>
</div>
<div class="form-floating mb-3">
    <input 
        type="time" 
        name="horarioDisc3" 
        class="form-control" 
        id="horarioDisc3" 
        placeholder="Horário da disciplina" 
        required>
    <label for="horarioDisc3">Horário da disciplina</label>
</div>
<% if(msgHorarioInvalido == '1') {%>
    <div class="alert alert-danger">
        O horário não corresponde com o período da disciplina
    </div>
<% } %>
<div class="form-floating mb-3">
    <input 
        type="text" 
        name="aulasDisc3" 
        class="form-control" 
        id="aulasDisc3" 
        placeholder="Quantidade de aulas" 
        required>
    <label for="aulasDisc3">Quantidade de aulas</label>
</div>
<label for="tipo">Dia da semana</label>
    <div class="form-floating mb-3">
        <select name = "diaSemanaDisc3"> 
            <option value = "Null"> Selecione uma opção</option>
            <option value = "seg."> Segunda-Feira</option>
            <option value = "ter."> Terça-Feira</option>
            <option value = "qua."> Quarta-Feira</option>
            <option value = "qui."> Quinta-Feira</option>
            <option value = "sex."> Sexta-Feira</option>
            <option value = "sáb."> Sábado</option>
            required>
    </select> 
    </div>
    <label for="disciplinaId4">Disciplina-4</label>
<div class="form-floating mb-3">
    <select class="form-control" name="disciplinaId4" id="disciplinaId4">
        <% disciplinas.forEach(disciplina => { %>
            <option value="<%= disciplina.id %>">Nome: <%= disciplina.nomeDisciplina %> - Código: <%= disciplina.codigoDisciplina %> - Semestre: <%= disciplina.semestre %> - Período: <%= disciplina.periodo %></option>
        <%})%>
        required>
    </select>
</div>
<div class="form-floating mb-3">
    <input 
        type="time" 
        name="horarioDisc4" 
        class="form-control" 
        id="horarioDisc4" 
        placeholder="Horário da disciplina" 
        required>
    <label for="horarioDisc4">Horário da disciplina</label>
</div>
<% if(msgHorarioInvalido == '1') {%>
    <div class="alert alert-danger">
        O horário não corresponde com o período da disciplina
    </div>
<% } %>
<div class="form-floating mb-3">
    <input 
        type="text" 
        name="aulasDisc4" 
        class="form-control" 
        id="aulasDisc4" 
        placeholder="Quantidade de aulas" 
        required>
    <label for="aulasDisc4">Quantidade de aulas</label>
</div>
</div>
<label for="tipo">Dia da semana</label>
    <div class="form-floating mb-3">
        <select name = "diaSemanaDisc4"> 
            <option value = "Null"> Selecione uma opção</option>
            <option value = "seg."> Segunda-Feira</option>
            <option value = "ter."> Terça-Feira</option>
            <option value = "qua."> Quarta-Feira</option>
            <option value = "qui."> Quinta-Feira</option>
            <option value = "sex."> Sexta-Feira</option>
            <option value = "sáb."> Sábado</option>
            required>
    </select> 
    </div>
    <label for="disciplinaId5">Disciplina-5</label>
<div class="form-floating mb-3">
    <select class="form-control" name="disciplinaId5" id="disciplinaId5">
        <% disciplinas.forEach(disciplina => { %>
            <option value="<%= disciplina.id %>">Nome: <%= disciplina.nomeDisciplina %> - Código: <%= disciplina.codigoDisciplina %> - Semestre: <%= disciplina.semestre %> - Período: <%= disciplina.periodo %></option>
        <%})%>
        required>
    </select>
</div>
<div class="form-floating mb-3">
    <input 
        type="time" 
        name="horarioDisc5" 
        class="form-control" 
        id="horarioDisc5" 
        placeholder="Horário da disciplina" 
        required>
    <label for="horarioDisc5">Horário da disciplina</label>
</div>
<% if(msgHorarioInvalido == '1') {%>
    <div class="alert alert-danger">
        O horário não corresponde com o período da disciplina
    </div>
<% } %>
<div class="form-floating mb-3">
    <input 
        type="text" 
        name="aulasDisc5" 
        class="form-control" 
        id="aulasDisc5" 
        placeholder="Quantidade de aulas" 
        required>
    <label for="aulasDisc5">Quantidade de aulas</label>
</div>
<label for="tipo">Dia da semana</label>
    <div class="form-floating mb-3">
        <select name = "diaSemanaDisc5"> 
            <option value = "Null"> Selecione uma opção</option>
            <option value = "seg."> Segunda-Feira</option>
            <option value = "ter."> Terça-Feira</option>
            <option value = "qua."> Quarta-Feira</option>
            <option value = "qui."> Quinta-Feira</option>
            <option value = "sex."> Sexta-Feira</option>
            <option value = "sáb."> Sábado</option>
            required>
    </select> 
    </div>
    <label for="disciplinaId6">Disciplina-6</label>
<div class="form-floating mb-3">
    <select class="form-control" name="disciplinaId6" id="disciplinaId6">
        <% disciplinas.forEach(disciplina => { %>
            <option value="<%= disciplina.id %>">Nome: <%= disciplina.nomeDisciplina %> - Código: <%= disciplina.codigoDisciplina %> - Semestre: <%= disciplina.semestre %> - Período: <%= disciplina.periodo %></option>
        <%})%>
        required>
    </select>
</div>
<div class="form-floating mb-3">
    <input 
        type="time" 
        name="horarioDisc6" 
        class="form-control" 
        id="horarioDisc6" 
        placeholder="Horário da disciplina" 
        required>
    <label for="horarioDisc6">Horário da disciplina</label>
</div>
<% if(msgHorarioInvalido == '1') {%>
    <div class="alert alert-danger">
        O horário não corresponde com o período da disciplina
    </div>
<% } %>
<div class="form-floating mb-3">
    <input 
        type="text" 
        name="aulasDisc6" 
        class="form-control" 
        id="aulasDisc6" 
        placeholder="Quantidade de aulas" 
        required>
    <label for="aulasDisc6">Quantidade de aulas</label>
</div>
<label for="tipo">Dia da semana</label>
    <div class="form-floating mb-3">
        <select name = "diaSemanaDisc6"> 
            <option value = "Null"> Selecione uma opção</option>
            <option value = "seg."> Segunda-Feira</option>
            <option value = "ter."> Terça-Feira</option>
            <option value = "qua."> Quarta-Feira</option>
            <option value = "qui."> Quinta-Feira</option>
            <option value = "sex."> Sexta-Feira</option>
            <option value = "sáb."> Sábado</option>
            required>
    </select> 
    </div>
    <label for="disciplinaId7">Disciplina-7</label>
<div class="form-floating mb-3">
    <select class="form-control" name="disciplinaId7" id="disciplinaId7">
        <% disciplinas.forEach(disciplina => { %>
            <option value="<%= disciplina.id %>">Nome: <%= disciplina.nomeDisciplina %> - Código: <%= disciplina.codigoDisciplina %> - Semestre: <%= disciplina.semestre %> - Período: <%= disciplina.periodo %></option>
        <%})%>
        required>
    </select>
</div>
<div class="form-floating mb-3">
    <input 
        type="time" 
        name="horarioDisc7" 
        class="form-control" 
        id="horarioDisc7" 
        placeholder="Horário da disciplina" 
        required>
    <label for="horarioDisc7">Horário da disciplina</label>
</div>
<% if(msgHorarioInvalido == '1') {%>
    <div class="alert alert-danger">
        O horário não corresponde com o período da disciplina
    </div>
<% } %>
<div class="form-floating mb-3">
    <input 
        type="text" 
        name="aulasDisc7" 
        class="form-control" 
        id="aulasDisc7" 
        placeholder="Quantidade de aulas" 
        required>
    <label for="aulasDisc7">Quantidade de aulas</label>
</div>
</div>
<label for="tipo">Dia da semana</label>
    <div class="form-floating mb-3">
        <select name = "diaSemanaDisc7"> 
            <option value = "Null"> Selecione uma opção</option>
            <option value = "seg."> Segunda-Feira</option>
            <option value = "ter."> Terça-Feira</option>
            <option value = "qua."> Quarta-Feira</option>
            <option value = "qui."> Quinta-Feira</option>
            <option value = "sex."> Sexta-Feira</option>
            <option value = "sáb."> Sábado</option>
            required>
    </select> 
    </div>
    <label for="disciplinaId8">Disciplina-8</label>
<div class="form-floating mb-3">
    <select class="form-control" name="disciplinaId" id="disciplinaId">
        <% disciplinas.forEach(disciplina => { %>
            <option value="<%= disciplina.id %>">Nome: <%= disciplina.nomeDisciplina %> - Código: <%= disciplina.codigoDisciplina %> - Semestre: <%= disciplina.semestre %> - Período: <%= disciplina.periodo %></option>
        <%})%>
        required>
    </select>
</div>
<div class="form-floating mb-3">
    <input 
        type="time" 
        name="horarioDisc8" 
        class="form-control" 
        id="horarioDisc8" 
        placeholder="Horário da disciplina" 
        required>
    <label for="horarioDisc8">Horário da disciplina</label>
</div>
<% if(msgHorarioInvalido == '1') {%>
    <div class="alert alert-danger">
        O horário não corresponde com o período da disciplina
    </div>
<% } %>
<div class="form-floating mb-3">
    <input 
        type="text" 
        name="aulasDisc8" 
        class="form-control" 
        id="aulasDisc8" 
        placeholder="Quantidade de aulas" 
        required>
    <label for="aulasDisc8">Quantidade de aulas</label>
</div>
<label for="tipo">Dia da semana</label>
    <div class="form-floating mb-3">
        <select name = "diaSemanaDisc8"> 
            <option value = "Null"> Selecione uma opção</option>
            <option value = "seg."> Segunda-Feira</option>
            <option value = "ter."> Terça-Feira</option>
            <option value = "qua."> Quarta-Feira</option>
            <option value = "qui."> Quinta-Feira</option>
            <option value = "sex."> Sexta-Feira</option>
            <option value = "sáb."> Sábado</option>
            required>
    </select> 
    </div>
    <label for="disciplinaId9">Disciplina-9</label>
<div class="form-floating mb-3">
    <select class="form-control" name="disciplinaId" id="disciplinaId">
        <% disciplinas.forEach(disciplina => { %>
            <option value="<%= disciplina.id %>">Nome: <%= disciplina.nomeDisciplina %> - Código: <%= disciplina.codigoDisciplina %> - Semestre: <%= disciplina.semestre %> - Período: <%= disciplina.periodo %></option>
        <%})%>
        required>
    </select>
</div>
<div class="form-floating mb-3">
    <input 
        type="time" 
        name="horarioDisc9" 
        class="form-control" 
        id="horarioDisc9" 
        placeholder="Horário da disciplina" 
        required>
    <label for="horarioDisc9">Horário da disciplina</label>
</div>
<% if(msgHorarioInvalido == '1') {%>
    <div class="alert alert-danger">
        O horário não corresponde com o período da disciplina
    </div>
<% } %>
<div class="form-floating mb-3">
    <input 
        type="text" 
        name="aulasDisc9" 
        class="form-control" 
        id="aulasDisc9" 
        placeholder="Quantidade de aulas" 
        required>
    <label for="aulasDisc9">Quantidade de aulas</label>
</div>
<label for="tipo">Dia da semana</label>
    <div class="form-floating mb-3">
        <select name = "diaSemanaDisc9"> 
            <option value = "Null"> Selecione uma opção</option>
            <option value = "seg."> Segunda-Feira</option>
            <option value = "ter."> Terça-Feira</option>
            <option value = "qua."> Quarta-Feira</option>
            <option value = "qui."> Quinta-Feira</option>
            <option value = "sex."> Sexta-Feira</option>
            <option value = "sáb."> Sábado</option>
            required>
    </select> 
    </div>
    <label for="disciplinaId10">Disciplina-10</label>
<div class="form-floating mb-3">
    <select class="form-control" name="disciplinaId" id="disciplinaId">
        <% disciplinas.forEach(disciplina => { %>
            <option value="<%= disciplina.id %>">Nome: <%= disciplina.nomeDisciplina %> - Código: <%= disciplina.codigoDisciplina %> - Semestre: <%= disciplina.semestre %> - Período: <%= disciplina.periodo %></option>
        <%})%>
        required>
    </select>
</div>
<div class="form-floating mb-3">
    <input 
        type="time" 
        name="horarioDisc10" 
        class="form-control" 
        id="horarioDisc10" 
        placeholder="Horário da disciplina" 
        required>
    <label for="horarioDisc10">Horário da disciplina</label>
</div>
<% if(msgHorarioInvalido == '1') {%>
    <div class="alert alert-danger">
        O horário não corresponde com o período da disciplina
    </div>
<% } %>
<div class="form-floating mb-3">
    <input 
        type="text" 
        name="aulasDisc10" 
        class="form-control" 
        id="aulasDisc10" 
        placeholder="Quantidade de aulas" 
        required>
    <label for="aulasDisc10">Quantidade de aulas</label>
</div>
<label for="tipo">Dia da semana</label>
    <div class="form-floating mb-3">
        <select name = "diaSemanaDisc10"> 
            <option value = "Null"> Selecione uma opção</option>
            <option value = "seg."> Segunda-Feira</option>
            <option value = "ter."> Terça-Feira</option>
            <option value = "qua."> Quarta-Feira</option>
            <option value = "qui."> Quinta-Feira</option>
            <option value = "sex."> Sexta-Feira</option>
            <option value = "sáb."> Sábado</option>
            required>
    </select> 
    </div>
   