<%- include('../partials/head.ejs') %>
<%- include('../partials/menu.ejs') %>
<br>
<div class="container">
    <div class="card">
        <div class="card-header">Editar professor/disciplina</div>
        <div class="card-body">
            <form method="POST" action="/impressaos/salvar">
                <input type="hidden" name="id" value="<%= impressao.id %>">
                <label><strong>Professor:</strong> <%= impressao.professor.nome%></label>
                <br>
                <label for="disciplinaId">Selecione as disciplinas</label>
                <br>
                <label for="disciplinaId">Disciplina</label>
                <div class="form-floating mb-3">
                    <select class="form-control" name="disciplinaId" id="disciplinaId">
                        <option value="<%= impressao.idDisciplina1 %>"> Nome: <%= impressao.IdDisciplina1.nomeDisciplina %></option>
                        <% disciplinas.forEach(disciplina => { %>
                            <option value="<%= disciplina.id %>">Nome: <%= disciplina.nomeDisciplina %> - Código: <%= disciplina.codigoDisciplina %> - Semestre: <%= disciplina.semestre %></option>
                        <%})%>
                        required>
                    </select>
                </div>            
                <div class="form-floating mb-3">
                    <input 
                        type="time" 
                        name="horarioDisc" 
                        class="form-control" 
                        id="horarioDisc" 
                        placeholder="Horário da disciplina"
                        value="<%= impressao.horarioDisc1%>" 
                        required>
                    <label for="horarioDisc">Horário da disciplina</label>
                </div>
                <div class="form-floating mb-3">
                    <input 
                        type="text" 
                        name="aulasDisc" 
                        class="form-control" 
                        id="aulasDisc" 
                        placeholder="Quantidade de aulas"
                        value="<%= impressao.aulasDisc1%>" 
                        required>
                    <label for="aulasDisc">Quantidade de aulas</label>
                </div>
                <label for="tipo"> Dia da semana </label>
                    <div class="form-floating mb-3">
                        <select name = "diaSemanaDisc"> 
                            <option value = "<%= impressao.diaSemanaDisc1%>"> <%= impressao.diaSemanaDisc1%></option>
                            <option value = "seg."> Segunda-Feira</option>
                            <option value = "ter."> Terça-Feira</option>
                            <option value = "qua."> Quarta-Feira</option>
                            <option value = "qui."> Quinta-Feira</option>
                            <option value = "sex."> Sexta-Feira</option>
                            <option value = "sáb."> Sábado</option>
                            required>
                        </select> 
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <input 
                                type="text" 
                                name="hae1" 
                                class="form-control" 
                                id="hae1" 
                                placeholder="HAE1"
                                value="<%= impressao.hae1%>"  
                                >
                        </div>
                        <div class="col-md-2">
                            <input 
                            type="time" 
                            name="horarioHae1" 
                            class="form-control" 
                            id="horarioHae1" 
                            placeholder="Horário HAE-1"
                            value="<%= impressao.horarioHae1%>"  
                            >
                        </div>
                        <div class="col-md-6">
                        <label for="tipo"> Dia da semana HAE-1 </label>                 
                                <select name = "diaSemanaHae1"> 
                                    <option value = "<%= impressao.diaSemanaHae1%>"> <%= impressao.diaSemanaHae1%></option>
                                    <option value = "seg."> Segunda-Feira</option>
                                    <option value = "ter."> Terça-Feira</option>
                                    <option value = "qua."> Quarta-Feira</option>
                                    <option value = "qui."> Quinta-Feira</option>
                                    <option value = "sex."> Sexta-Feira</option>
                                    <option value = "sáb."> Sábado</option>
                                    >
                                </select> 
                            </div>
                    </div>         
                <div class="row">
                    <div class="col-md-2">
                        <input 
                            type="text" 
                            name="hae2" 
                            class="form-control" 
                            id="hae2" 
                            placeholder="HAE2"
                            value="<%= impressao.hae2%>"  
                            >
                    </div>
                    <div class="col-md-2">
                        <input 
                        type="time" 
                        name="horarioHae2" 
                        class="form-control" 
                        id="horarioHae2" 
                        placeholder="Horário HAE-2"
                        value="<%= impressao.horarioHae2%>"  
                        >
                    </div>
                    <div class="col-md-6">
                    <label for="tipo"> Dia da semana HAE-2 </label>                 
                            <select name = "diaSemanaHae2"> 
                                <option value = "<%= impressao.diaSemanaHae2%>"> <%= impressao.diaSemanaHae2%></option>
                                <option value = "seg."> Segunda-Feira</option>
                                <option value = "ter."> Terça-Feira</option>
                                <option value = "qua."> Quarta-Feira</option>
                                <option value = "qui."> Quinta-Feira</option>
                                <option value = "sex."> Sexta-Feira</option>
                                <option value = "sáb."> Sábado</option>
                                >
                            </select> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <input 
                                type="text" 
                                name="hae3" 
                                class="form-control" 
                                id="hae3" 
                                placeholder="HAE3"
                                value="<%= impressao.hae3%>"  
                                >
                        </div>
                        <div class="col-md-2">
                            <input 
                            type="time" 
                            name="horarioHae3" 
                            class="form-control" 
                            id="horarioHae3" 
                            placeholder="Horário HAE-3"
                            value="<%= impressao.horarioHae3%>"  
                            >
                        </div>
                        <div class="col-md-6">
                        <label for="tipo"> Dia da semana HAE-3 </label>                 
                                <select name = "diaSemanaHae3"> 
                                    <option value = "<%= impressao.diaSemanaHae3%>"> <%= impressao.diaSemanaHae3%></option>
                                    <option value = "seg."> Segunda-Feira</option>
                                    <option value = "ter."> Terça-Feira</option>
                                    <option value = "qua."> Quarta-Feira</option>
                                    <option value = "qui."> Quinta-Feira</option>
                                    <option value = "sex."> Sexta-Feira</option>
                                    <option value = "sáb."> Sábado</option>
                                    >
                                </select> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <input 
                                    type="text" 
                                    name="hae4" 
                                    class="form-control" 
                                    id="hae4" 
                                    placeholder="HAE4"
                                    value="<%= impressao.hae4%>"  
                                    >
                            </div>
                            <div class="col-md-2">
                                <input 
                                type="time" 
                                name="horarioHae4" 
                                class="form-control" 
                                id="horarioHae4" 
                                placeholder="Horário HAE-4"
                                value="<%= impressao.horarioHae4%>"  
                                >
                            </div>
                            <div class="col-md-6">
                            <label for="tipo"> Dia da semana HAE-4 </label>                 
                                    <select name = "diaSemanaHae4"> 
                                        <option value = "<%= impressao.diaSemanaHae4%>"> <%= impressao.diaSemanaHae4%></option>
                                        <option value = "seg."> Segunda-Feira</option>
                                        <option value = "ter."> Terça-Feira</option>
                                        <option value = "qua."> Quarta-Feira</option>
                                        <option value = "qui."> Quinta-Feira</option>
                                        <option value = "sex."> Sexta-Feira</option>
                                        <option value = "sáb."> Sábado</option>
                                        >
                                    </select> 
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-2">
                                    <input 
                                        type="text" 
                                        name="haec1" 
                                        class="form-control" 
                                        id="haec1" 
                                        placeholder="HAEC1"
                                        value="<%= impressao.haec1%>"  
                                        >
                                </div>
                                <div class="col-md-2">
                                    <input 
                                    type="time" 
                                    name="horarioHaec1" 
                                    class="form-control" 
                                    id="horarioHaec1" 
                                    placeholder="Horário HAEC-1"
                                    value="<%= impressao.horarioHaec1%>"  
                                    >
                                </div>
                                <div class="col-md-6">
                                <label for="tipo"> Dia da semana HAEC-1 </label>                 
                                        <select name = "diaSemanaHaec1"> 
                                            <option value = "<%= impressao.diaSemanaHaec1%>"> <%= impressao.diaSemanaHaec1%></option>
                                            <option value = "seg."> Segunda-Feira</option>
                                            <option value = "ter."> Terça-Feira</option>
                                            <option value = "qua."> Quarta-Feira</option>
                                            <option value = "qui."> Quinta-Feira</option>
                                            <option value = "sex."> Sexta-Feira</option>
                                            <option value = "sáb."> Sábado</option>
                                            >
                                        </select> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <input 
                                            type="text" 
                                            name="haec2" 
                                            class="form-control" 
                                            id="haec2" 
                                            placeholder="HAEC2"
                                            value="<%= impressao.haec2%>"  
                                            >
                                    </div>
                                    <div class="col-md-2">
                                        <input 
                                        type="time" 
                                        name="horarioHaec2" 
                                        class="form-control" 
                                        id="horarioHac2" 
                                        placeholder="Horário HAEC-2"
                                        value="<%= impressao.horarioHaec2%>"  
                                        >
                                    </div>
                                    <div class="col-md-6">
                                    <label for="tipo"> Dia da semana HAEC-2 </label>                 
                                            <select name = "diaSemanaHaec2"> 
                                                <option value = "<%= impressao.diaSemanaHaec2%>"> <%= impressao.diaSemanaHaec2%></option>
                                                <option value = "seg."> Segunda-Feira</option>
                                                <option value = "ter."> Terça-Feira</option>
                                                <option value = "qua."> Quarta-Feira</option>
                                                <option value = "qui."> Quinta-Feira</option>
                                                <option value = "sex."> Sexta-Feira</option>
                                                <option value = "sáb."> Sábado</option>
                                                >
                                            </select> 
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <input 
                                                type="text" 
                                                name="haec3" 
                                                class="form-control" 
                                                id="haec3" 
                                                placeholder="HAEC3"
                                                value="<%= impressao.haec3%>"  
                                                >
                                        </div>
                                        <div class="col-md-2">
                                            <input 
                                            type="time" 
                                            name="horarioHaec3" 
                                            class="form-control" 
                                            id="horarioHaec3" 
                                            placeholder="Horário HAEC-3"
                                            value="<%= impressao.horarioHaec3%>"  
                                            >
                                        </div>
                                        <div class="col-md-6">
                                        <label for="tipo"> Dia da semana HAEC-3 </label>                 
                                                <select name = "diaSemanaHaec3"> 
                                                    <option value = "<%= impressao.diaSemanaHaec3%>"> <%= impressao.diaSemanaHaec3%></option>
                                                    <option value = "seg."> Segunda-Feira</option>
                                                    <option value = "ter."> Terça-Feira</option>
                                                    <option value = "qua."> Quarta-Feira</option>
                                                    <option value = "qui."> Quinta-Feira</option>
                                                    <option value = "sex."> Sexta-Feira</option>
                                                    <option value = "sáb."> Sábado</option>
                                                    >
                                                </select> 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <input 
                                                    type="text" 
                                                    name="haec4" 
                                                    class="form-control" 
                                                    id="haec4" 
                                                    placeholder="HAEC4"
                                                    value="<%= impressao.haec4%>"  
                                                    >
                                            </div>
                                            <div class="col-md-2">
                                                <input 
                                                type="time" 
                                                name="horarioHaec4" 
                                                class="form-control" 
                                                id="horarioHaec4" 
                                                placeholder="Horário HAEC-4"
                                                value="<%= impressao.horarioHaec4%>"  
                                                >
                                            </div>
                                            <div class="col-md-6">
                                            <label for="tipo"> Dia da semana HAEC-4 </label>                 
                                                    <select name = "diaSemanaHaec4"> 
                                                        <option value = "<%= impressao.diaSemanaHaec4%>"> <%= impressao.diaSemanaHaec4%></option>
                                                        <option value = "seg."> Segunda-Feira</option>
                                                        <option value = "ter."> Terça-Feira</option>
                                                        <option value = "qua."> Quarta-Feira</option>
                                                        <option value = "qui."> Quinta-Feira</option>
                                                        <option value = "sex."> Sexta-Feira</option>
                                                        <option value = "sáb."> Sábado</option>
                                                        >
                                                    </select> 
                                                </div>
                                            </div>             
                
                <!--Adiciona os formulários relacionados ao professor-->
                <% if(qtdDisciplinas > 0){%>
                <% for(formulario; formulario < qtdDisciplinas; formulario++)
                              
                { %>
                    <% if(formulario == 1){%>
                    <label for="disciplinaId2" >Disciplina-<%= formulario + 1 %></label>
                <div class="form-floating mb-3">
                    <select class="form-control" name="disciplinaId2" id="disciplinaId2">
                        <option value="<%= impressao.idDisciplina2 %>">Nome: <%= impressao.IdDisciplina2.nomeDisciplina %></option>
                        <% disciplinas.forEach(disciplina => { %>
                            <option value="<%= disciplina.id %>">Nome: <%= disciplina.nomeDisciplina %> - Código: <%= disciplina.codigoDisciplina %> - Semestre: <%= disciplina.semestre %> - Período: <%= disciplina.periodo %></option>
                        <%})%>
                        required>
                    </select>
                </div>            
                <div class="form-floating mb-3">
                    <input 
                        type="time" 
                        name="horarioDisc2" 
                        class="form-control" 
                        id="horarioDisc2" 
                        placeholder="Horário da disciplina" 
                        value="<%= impressao.horarioDisc2 %>"
                        required>
                    <label for="horarioDisc2">Horário da disciplina</label>
                </div>
                <div class="form-floating mb-3">
                    <input 
                        type="text" 
                        name="aulasDisc2" 
                        class="form-control" 
                        id="aulasDisc2" 
                        placeholder="Quantidade de aulas"
                        value="<%= impressao.aulasDisc2 %>" 
                        required>
                    <label for="aulasDisc2">Quantidade de aulas</label>
                </div>
                <label for="tipo"> Dia da semana </label>
                    <div class="form-floating mb-3">
                        <select name = "diaSemanaDisc2"> 
                            <option value = "<%= impressao.diaSemanaDisc2 %>"> <%= impressao.diaSemanaDisc2 %></option>
                            <option value = "seg."> Segunda-Feira</option>
                            <option value = "ter."> Terça-Feira</option>
                            <option value = "qua."> Quarta-Feira</option>
                            <option value = "qui."> Quinta-Feira</option>
                            <option value = "sex."> Sexta-Feira</option>
                            <option value = "sáb."> Sábado</option>
                            required>
                        </select> 
                    </div>
                <%
                } %> 
                <% if(formulario  == 2){%>
                    <label for="disciplinaId3" >Disciplina-<%= formulario + 1 %></label>
                <div class="form-floating mb-3">
                    <select class="form-control" name="disciplinaId3" id="disciplinaId3">
                        <% disciplinas.forEach(disciplina => { %>
                            <option value="<%= disciplina.id %>">Nome: <%= impressao.IdDisciplina3.nomeDisciplina %></option>
                        <%})%>
                        required>
                    </select>
                </div>            
                <div class="form-floating mb-3">
                    <input 
                        type="time" 
                        name="horarioDisc3" 
                        class="form-control" 
                        id="horarioDisc3" 
                        placeholder="Horário da disciplina" 
                        value="<%= impressao.horarioDisc3 %>"
                        required>
                    <label for="horarioDisc3">Horário da disciplina</label>
                </div>
                <div class="form-floating mb-3">
                    <input 
                        type="text" 
                        name="aulasDisc3" 
                        class="form-control" 
                        id="aulasDisc3" 
                        placeholder="Quantidade de aulas"
                        value="<%= impressao.aulasDisc3 %>" 
                        required>
                    <label for="aulasDisc3">Quantidade de aulas</label>
                </div>
                <label for="tipo"> Dia da semana </label>
                    <div class="form-floating mb-3">
                        <select name = "diaSemanaDisc3"> 
                            <option value = "<%= impressao.diaSemanaDisc3 %>"> <%= impressao.diaSemanaDisc3 %></option>
                            <option value = "seg."> Segunda-Feira</option>
                            <option value = "ter."> Terça-Feira</option>
                            <option value = "qua."> Quarta-Feira</option>
                            <option value = "qui."> Quinta-Feira</option>
                            <option value = "sex."> Sexta-Feira</option>
                            <option value = "sáb."> Sábado</option>
                            required>
                        </select> 
                    </div>
                <%
                } %> 
                <% if(formulario  == 3){%>
                    <label for="disciplinaId4" >Disciplina-<%= formulario + 1 %></label>
                <div class="form-floating mb-3">
                    <select class="form-control" name="disciplinaId4" id="disciplinaId4">
                        <% disciplinas.forEach(disciplina => { %>
                            <option value="<%= disciplina.id %>">Nome: <%= impressao.IdDisciplina4.nomeDisciplina %></option>
                        <%})%>
                        required>
                    </select>
                </div>            
                <div class="form-floating mb-3">
                    <input 
                        type="time" 
                        name="horarioDisc4" 
                        class="form-control" 
                        id="horarioDisc4" 
                        placeholder="Horário da disciplina" 
                        value="<%= impressao.horarioDisc4 %>"
                        required>
                    <label for="horarioDisc4">Horário da disciplina</label>
                </div>
                <div class="form-floating mb-3">
                    <input 
                        type="text" 
                        name="aulasDisc4" 
                        class="form-control" 
                        id="aulasDisc4" 
                        placeholder="Quantidade de aulas"
                        value="<%= impressao.aulasDisc4 %>" 
                        required>
                    <label for="aulasDisc4">Quantidade de aulas</label>
                </div>
                <label for="tipo"> Dia da semana </label>
                    <div class="form-floating mb-3">
                        <select name = "diaSemanaDisc4"> 
                            <option value = "<%= impressao.diaSemanaDisc4 %>"> <%= impressao.diaSemanaDisc4 %></option>
                            <option value = "seg."> Segunda-Feira</option>
                            <option value = "ter."> Terça-Feira</option>
                            <option value = "qua."> Quarta-Feira</option>
                            <option value = "qui."> Quinta-Feira</option>
                            <option value = "sex."> Sexta-Feira</option>
                            <option value = "sáb."> Sábado</option>
                            required>
                        </select> 
                    </div>
                <%
                } %>
                <% if(formulario == 4){%>
                    <label for="disciplinaId5" >Disciplina-<%= formulario + 1 %></label>
                <div class="form-floating mb-3">
                    <select class="form-control" name="disciplinaId5" id="disciplinaId5">
                        <% disciplinas.forEach(disciplina => { %>
                            <option value="<%= disciplina.id %>">Nome: <%= impressao.IdDisciplina5.nomeDisciplina %></option>
                        <%})%>
                        required>
                    </select>
                </div>            
                <div class="form-floating mb-3">
                    <input 
                        type="time" 
                        name="horarioDisc5" 
                        class="form-control" 
                        id="horarioDisc5" 
                        placeholder="Horário da disciplina" 
                        value="<%= impressao.horarioDisc5 %>"
                        required>
                    <label for="horarioDisc5">Horário da disciplina</label>
                </div>
                <div class="form-floating mb-3">
                    <input 
                        type="text" 
                        name="aulasDisc5" 
                        class="form-control" 
                        id="aulasDisc5" 
                        placeholder="Quantidade de aulas"
                        value="<%= impressao.aulasDisc5 %>" 
                        required>
                    <label for="aulasDisc5">Quantidade de aulas</label>
                </div>
                <label for="tipo"> Dia da semana </label>
                    <div class="form-floating mb-3">
                        <select name = "diaSemanaDisc5"> 
                            <option value = "<%= impressao.diaSemanaDisc5 %>"> <%= impressao.diaSemanaDisc5 %></option>
                            <option value = "seg."> Segunda-Feira</option>
                            <option value = "ter."> Terça-Feira</option>
                            <option value = "qua."> Quarta-Feira</option>
                            <option value = "qui."> Quinta-Feira</option>
                            <option value = "sex."> Sexta-Feira</option>
                            <option value = "sáb."> Sábado</option>
                            required>
                        </select> 
                    </div>
                <%
                } %>
                <% if(formulario  == 5){%>
                    <label for="disciplinaId6" >Disciplina-<%= formulario + 1 %></label>
                <div class="form-floating mb-3">
                    <select class="form-control" name="disciplinaId6" id="disciplinaId6">
                        <% disciplinas.forEach(disciplina => { %>
                            <option value="<%= disciplina.id %>">Nome: <%= impressao.IdDisciplina6.nomeDisciplina %></option>
                        <%})%>
                        required>
                    </select>
                </div>            
                <div class="form-floating mb-3">
                    <input 
                        type="time" 
                        name="horarioDisc6" 
                        class="form-control" 
                        id="horarioDisc6" 
                        placeholder="Horário da disciplina" 
                        value="<%= impressao.horarioDisc6 %>"
                        required>
                    <label for="horarioDisc6">Horário da disciplina</label>
                </div>
                <div class="form-floating mb-3">
                    <input 
                        type="text" 
                        name="aulasDisc6" 
                        class="form-control" 
                        id="aulasDisc6" 
                        placeholder="Quantidade de aulas"
                        value="<%= impressao.aulasDisc6 %>" 
                        required>
                    <label for="aulasDisc6">Quantidade de aulas</label>
                </div>
                <label for="tipo"> Dia da semana </label>
                    <div class="form-floating mb-3">
                        <select name = "diaSemanaDisc6"> 
                            <option value = "<%= impressao.diaSemanaDisc6 %>"> <%= impressao.diaSemanaDisc6 %></option>
                            <option value = "seg."> Segunda-Feira</option>
                            <option value = "ter."> Terça-Feira</option>
                            <option value = "qua."> Quarta-Feira</option>
                            <option value = "qui."> Quinta-Feira</option>
                            <option value = "sex."> Sexta-Feira</option>
                            <option value = "sáb."> Sábado</option>
                            required>
                        </select> 
                    </div>
                <%
                } %> 
                <% if(formulario == 6){%>
                    <label for="disciplinaId7" >Disciplina-<%= formulario + 1 %></label>
                <div class="form-floating mb-3">
                    <select class="form-control" name="disciplinaId7" id="disciplinaId7">
                        <% disciplinas.forEach(disciplina => { %>
                            <option value="<%= disciplina.id %>">Nome: <%= impressao.IdDisciplina7.nomeDisciplina %></option>
                        <%})%>
                        required>
                    </select>
                </div>            
                <div class="form-floating mb-3">
                    <input 
                        type="time" 
                        name="horarioDisc7" 
                        class="form-control" 
                        id="horarioDisc7" 
                        placeholder="Horário da disciplina" 
                        value="<%= impressao.horarioDisc7 %>"
                        required>
                    <label for="horarioDisc7">Horário da disciplina</label>
                </div>
                <div class="form-floating mb-3">
                    <input 
                        type="text" 
                        name="aulasDisc7" 
                        class="form-control" 
                        id="aulasDisc7" 
                        placeholder="Quantidade de aulas"
                        value="<%= impressao.aulasDisc7 %>" 
                        required>
                    <label for="aulasDisc7">Quantidade de aulas</label>
                </div>
                <label for="tipo"> Dia da semana </label>
                    <div class="form-floating mb-3">
                        <select name = "diaSemanaDisc7"> 
                            <option value = "<%= impressao.diaSemanaDisc7 %>"> <%= impressao.diaSemanaDisc7 %></option>
                            <option value = "seg."> Segunda-Feira</option>
                            <option value = "ter."> Terça-Feira</option>
                            <option value = "qua."> Quarta-Feira</option>
                            <option value = "qui."> Quinta-Feira</option>
                            <option value = "sex."> Sexta-Feira</option>
                            <option value = "sáb."> Sábado</option>
                            required>
                        </select> 
                    </div>
                <%
                } %>
                <% if(formulario  == 7){%>
                    <label for="disciplinaId8" >Disciplina-<%= formulario + 1 %></label>
                <div class="form-floating mb-3">
                    <select class="form-control" name="disciplinaId8" id="disciplinaId8">
                        <% disciplinas.forEach(disciplina => { %>
                            <option value="<%= disciplina.id %>">Nome: <%= impressao.IdDisciplina8.nomeDisciplina %></option>
                        <%})%>
                        required>
                    </select>
                </div>            
                <div class="form-floating mb-3">
                    <input 
                        type="time" 
                        name="horarioDisc8" 
                        class="form-control" 
                        id="horarioDisc8" 
                        placeholder="Horário da disciplina" 
                        value="<%= impressao.horarioDisc8 %>"
                        required>
                    <label for="horarioDisc8">Horário da disciplina</label>
                </div>
                <div class="form-floating mb-3">
                    <input 
                        type="text" 
                        name="aulasDisc8" 
                        class="form-control" 
                        id="aulasDisc8" 
                        placeholder="Quantidade de aulas"
                        value="<%= impressao.aulasDisc8 %>" 
                        required>
                    <label for="aulasDisc8">Quantidade de aulas</label>
                </div>
                <label for="tipo"> Dia da semana </label>
                    <div class="form-floating mb-3">
                        <select name = "diaSemanaDisc8"> 
                            <option value = "<%= impressao.diaSemanaDisc8 %>"> <%= impressao.diaSemanaDisc8 %></option>
                            <option value = "seg."> Segunda-Feira</option>
                            <option value = "ter."> Terça-Feira</option>
                            <option value = "qua."> Quarta-Feira</option>
                            <option value = "qui."> Quinta-Feira</option>
                            <option value = "sex."> Sexta-Feira</option>
                            <option value = "sáb."> Sábado</option>
                            required>
                        </select> 
                    </div>
                <%
                } %>
                <% if(formulario == 8){%>
                    <label for="disciplinaId9" >Disciplina-<%= formulario + 1 %></label>
                <div class="form-floating mb-3">
                    <select class="form-control" name="disciplinaId9" id="disciplinaId9">
                        <% disciplinas.forEach(disciplina => { %>
                            <option value="<%= disciplina.id %>">Nome: <%= impressao.IdDisciplina9.nomeDisciplina %></option>
                        <%})%>
                        required>
                    </select>
                </div>            
                <div class="form-floating mb-3">
                    <input 
                        type="time" 
                        name="horarioDisc9" 
                        class="form-control" 
                        id="horarioDisc9" 
                        placeholder="Horário da disciplina" 
                        value="<%= impressao.horarioDisc9 %>"
                        required>
                    <label for="horarioDisc9">Horário da disciplina</label>
                </div>
                <div class="form-floating mb-3">
                    <input 
                        type="text" 
                        name="aulasDisc9" 
                        class="form-control" 
                        id="aulasDisc9" 
                        placeholder="Quantidade de aulas"
                        value="<%= impressao.aulasDisc9 %>" 
                        required>
                    <label for="aulasDisc9">Quantidade de aulas</label>
                </div>
                <label for="tipo"> Dia da semana </label>
                    <div class="form-floating mb-3">
                        <select name = "diaSemanaDisc9"> 
                            <option value = "<%= impressao.diaSemanaDisc9 %>"> <%= impressao.diaSemanaDisc9 %></option>
                            <option value = "seg."> Segunda-Feira</option>
                            <option value = "ter."> Terça-Feira</option>
                            <option value = "qua."> Quarta-Feira</option>
                            <option value = "qui."> Quinta-Feira</option>
                            <option value = "sex."> Sexta-Feira</option>
                            <option value = "sáb."> Sábado</option>
                            required>
                        </select> 
                    </div>
                <%
                } %> 
                <% if(formulario == 9){%>
                    <label for="disciplinaId10" >Disciplina-<%= formulario + 1 %></label>
                <div class="form-floating mb-3">
                    <select class="form-control" name="disciplinaId10" id="disciplinaId10">
                        <% disciplinas.forEach(disciplina => { %>
                            <option value="<%= disciplina.id %>">Nome: <%= impressao.IdDisciplina10.nomeDisciplina %></option>
                        <%})%>
                        required>
                    </select>
                </div>            
                <div class="form-floating mb-3">
                    <input 
                        type="time" 
                        name="horarioDisc10" 
                        class="form-control" 
                        id="horarioDisc10" 
                        placeholder="Horário da disciplina" 
                        value="<%= impressao.horarioDisc10 %>"
                        required>
                    <label for="horarioDisc10">Horário da disciplina</label>
                </div>
                <div class="form-floating mb-3">
                    <input 
                        type="text" 
                        name="aulasDisc10" 
                        class="form-control" 
                        id="aulasDisc10" 
                        placeholder="Quantidade de aulas"
                        value="<%= impressao.aulasDisc10 %>" 
                        required>
                    <label for="aulasDisc10">Quantidade de aulas</label>
                </div>
                <label for="tipo"> Dia da semana </label>
                    <div class="form-floating mb-3">
                        <select name = "diaSemanaDisc10"> 
                            <option value = "<%= impressao.diaSemanaDisc10 %>"> <%= impressao.diaSemanaDisc10 %></option>
                            <option value = "seg."> Segunda-Feira</option>
                            <option value = "ter."> Terça-Feira</option>
                            <option value = "qua."> Quarta-Feira</option>
                            <option value = "qui."> Quinta-Feira</option>
                            <option value = "sex."> Sexta-Feira</option>
                            <option value = "sáb."> Sábado</option>
                            required>
                        </select> 
                    </div>
                <%
                } %>
                <%} %>
                <%} %>
                 
                <div id="disciplinasContainer"> </div>  
                <div class="form-floating mb-3">
                    <button type="button" class="btn btn-primary" onclick="addDisciplina('<%=qtdDisciplinas%>')">Adicionar Disciplina</button>
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a href="/impressaos" class="btn btn-warning">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>


<script>
    let disciplinaCount = 0;
    let horarioDiscAtual = null;
    let aulasDiscAtual = null;
    let diaSemanaDiscAtual = null;
    let disciplinaIdAtual = null;
    let qtdDisciplinasAtualizado = false;
    
    function addDisciplina(qtdDisciplinasAtual) {
        if(qtdDisciplinasAtualizado == false){
        qtdDisciplinasAtual = parseInt(qtdDisciplinasAtual)
        disciplinaCount = qtdDisciplinasAtual + disciplinaCount;
        qtdDisciplinasAtualizado = true;
        }
      if (disciplinaCount < 10) {
        disciplinaCount++;
        horarioDiscAtual = 'horarioDisc' + disciplinaCount;
        aulasDiscAtual = 'aulasDisc' + disciplinaCount;
        diaSemanaDiscAtual = 'diaSemanaDisc' + disciplinaCount;
        disciplinaIdAtual = 'disciplinaId' + disciplinaCount;
        document.getElementById('disciplinasContainer').insertAdjacentHTML('beforebegin', '<label for="disciplinaId">Disciplina-'+disciplinaCount+'</label><div class="form-floating mb-3"><select class="form-control" name='+disciplinaIdAtual+' id='+disciplinaIdAtual+'> <% disciplinas.forEach(disciplina => { %><option value="<%= disciplina.id %>">Nome: <%= disciplina.nomeDisciplina %> - Código: <%= disciplina.codigoDisciplina %> - Semestre: <%= disciplina.semestre %> - Período: <%= disciplina.periodo %></option> <%})%>required></select> </div><div class="form-floating mb-3"><input type="time" name='+horarioDiscAtual+' class="form-control" id='+horarioDiscAtual+' placeholder="Horário da Disciplina" required> <label for='+horarioDiscAtual+'>Horário da disciplina</label> </div> <div class="form-floating mb-3"> <input type="text" name='+aulasDiscAtual+' class="form-control" id='+aulasDiscAtual+' placeholder="Quantidade de aulas" required> <label for='+aulasDiscAtual+'>Quantidade de aulas</label> </div> <label for="tipo">Dia da semana</label><div class="form-floating mb-3"><select name = '+diaSemanaDiscAtual+'><option value = "Null"> Selecione uma opção</option><option value = "seg."> Segunda-Feira</option><option value = "ter."> Terça-Feira</option><option value = "qua."> Quarta-Feira</option><option value = "qui."> Quinta-Feira</option><option value = "sex."> Sexta-Feira</option><option value = "sáb."> Sábado</option>required></select></div>');

                    
      } else {
        alert('Número máximo de disciplinas atingido (10).');
      }
    }
    </script>

<%- include('../partials/footer.ejs') %>