<%- include('../partials/head.ejs') %>
<%- include('../partials/menu.ejs') %>

<br>
<div class="container">
    <a href="/impressaos/novo" class="btn btn-primary">Registrar professor</a>
    <br>
    <div class="card">
        <div class="card-header">
            Professores registrados nas disciplinas
        </div>
        <div class="card-body">
            <table class="table table-bordered">
                <thead>
                    <th class="col-3">Professor</th>
                    <th class="col-3">Disciplina</th>
                    <th class="col-2">Ano</th>
                    <th class="col-2">Ações</th>
                    <th class="col-2">Folha de Registro</th>    
                </thead>
                <tbody>
                    <% impressaos.forEach(impressao => { %>
                        <tr>
                            <td><%= impressao.professor.nome%> - Reg.: <%= impressao.professor.numeroRegistro%></td>
                            <td><%= impressao.disciplina.nomeDisciplina %> - Cód.: <%= impressao.disciplina.codigoDisciplina%> </td>
                            <td><%= impressao.anoImpressao %></td>
                            <td>
                                <a href="/impressaos/adicionaDisc/<%= impressao.id %>" class="btn btn-primary">Adicionar Disc.</a>
                                <a href="/impressaos/<%= impressao.id %>" class="btn btn-primary">Editar</a>
                                <a href="/impressaos/delete/<%= impressao.id %>" class="btn btn-danger">Excluir</a>
                            </td>
                            <td>
                                <a href="/impressaos/geraReg/<%= impressao.id %>" class="btn btn-primary">Gerar Folha Reg.</a>
                            </td>
                        </tr>
                    <% }) %>
                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>