<%- include('../partials/head.ejs') %>
<%- include('../partials/menu.ejs') %>
<br>
<div class="container">
    <div class="card">
      <div class="card-header">Novo cadastro de professor na disciplina</div>
        <div class="card-body">
            <form method="POST" action="/impressaos">
                <label for="professorId">Selecione o professor</label>
                <br>
                <div class="form-floating mb-3">
                    <select class="form-control" name="professorId" id="professorId">
                        <% professors.forEach(professor => { %>
                            <option value="<%= professor.id %>">Nome: <%= professor.nome %> - Registro: <%= professor.numeroRegistro %></option>
                        <%})%>
                        required>
                    </select>
                </div>
                <br>
                <label for="disciplinaId">Selecione as disciplinas</label>
                <br>             
                <label for="disciplinaId">Disciplina-1</label>
                <div class="form-floating mb-3">
                    <select class="form-control" name="disciplinaId" id="disciplinaId">
                        <% disciplinas.forEach(disciplina => { %>
                            <option value="<%= disciplina.id %>">Nome: <%= disciplina.nomeDisciplina %> - Código: <%= disciplina.codigoDisciplina %> - Semestre: <%= disciplina.semestre %></option>
                        <%})%>
                        required>
                    </select>
                </div>
                <div class="form-floating mb-3">
                    <input 
                        type="time" 
                        name="horarioDisc" 
                        class="form-control" 
                        id="horarioDisc" 
                        placeholder="Horário da disciplina" 
                        required>
                    <label for="horarioDisc">Horário da disciplina</label>
                </div>
                <% if(msgHorarioInvalido == '1') {%>
                    <div class="alert alert-danger">
                        O horário não corresponde com o período da disciplina
                    </div>
                <% } %>
                <div class="form-floating mb-3">
                    <input 
                        type="text" 
                        name="aulasDisc" 
                        class="form-control" 
                        id="aulasDisc" 
                        placeholder="Quantidade de aulas" 
                        required>
                    <label for="aulasDisc">Quantidade de aulas</label>
                </div>
                <label for="tipo"> Dia da semana </label>
                    <div class="form-floating mb-3">
                        <select name = "diaSemanaDisc"> 
                            <option value = "null"> Selecione uma opção</option>
                            <option value = "seg."> Segunda-Feira</option>
                            <option value = "ter."> Terça-Feira</option>
                            <option value = "qua."> Quarta-Feira</option>
                            <option value = "qui."> Quinta-Feira</option>
                            <option value = "sex."> Sexta-Feira</option>
                            <option value = "sáb."> Sábado</option>
                            required>
                        </select> 
                    </div> 
                <div class="row">
                <div class="col-md-2">
                    <input 
                        type="text" 
                        name="hae1" 
                        class="form-control" 
                        id="hae1" 
                        placeholder="HAE1"
                        >
                </div>
                <div class="col-md-2">
                    <input 
                    type="time" 
                    name="horarioHae1" 
                    class="form-control" 
                    id="horarioHae1" 
                    placeholder="Horário HAE-1" 
                    >
                </div>
                <div class="col-md-6">
                <label for="tipo"> Dia da semana HAE-1 </label>                 
                        <select name = "diaSemanaHae1"> 
                            <option value = "null"> Selecione uma opção</option>
                            <option value = "seg."> Segunda-Feira</option>
                            <option value = "ter."> Terça-Feira</option>
                            <option value = "qua."> Quarta-Feira</option>
                            <option value = "qui."> Quinta-Feira</option>
                            <option value = "sex."> Sexta-Feira</option>
                            <option value = "sáb."> Sábado</option>
                            >
                        </select> 
                    </div>
            </div>         
                <div class="row">
                    <div class="col-md-2">
                        <input 
                            type="text" 
                            name="hae2" 
                            class="form-control" 
                            id="hae2" 
                            placeholder="HAE2" 
                            >
                    </div>
                    <div class="col-md-2">
                        <input 
                        type="time" 
                        name="horarioHae2" 
                        class="form-control" 
                        id="horarioHae2" 
                        placeholder="Horário HAE-2" 
                        >
                    </div>
                    <div class="col-md-6">
                    <label for="tipo"> Dia da semana HAE-2 </label>                 
                            <select name = "diaSemanaHae2"> 
                                <option value = "null"> Selecione uma opção</option>
                                <option value = "seg."> Segunda-Feira</option>
                                <option value = "ter."> Terça-Feira</option>
                                <option value = "qua."> Quarta-Feira</option>
                                <option value = "qui."> Quinta-Feira</option>
                                <option value = "sex."> Sexta-Feira</option>
                                <option value = "sáb."> Sábado</option>
                                >
                            </select> 
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-2">
                            <input 
                                type="text" 
                                name="hae3" 
                                class="form-control" 
                                id="hae3" 
                                placeholder="HAE3" 
                                >
                        </div>
                        <div class="col-md-2">
                            <input 
                            type="time" 
                            name="horarioHae3" 
                            class="form-control" 
                            id="horarioHae3" 
                            placeholder="Horário HAE-3" 
                            >
                        </div>
                        <div class="col-md-6">
                        <label for="tipo"> Dia da semana HAE-3 </label>                 
                                <select name = "diaSemanaHae3"> 
                                    <option value = "null"> Selecione uma opção</option>
                                    <option value = "seg."> Segunda-Feira</option>
                                    <option value = "ter."> Terça-Feira</option>
                                    <option value = "qua."> Quarta-Feira</option>
                                    <option value = "qui."> Quinta-Feira</option>
                                    <option value = "sex."> Sexta-Feira</option>
                                    <option value = "sáb."> Sábado</option>
                                    >
                                </select> 
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-2">
                                <input 
                                    type="text" 
                                    name="hae4" 
                                    class="form-control" 
                                    id="hae4" 
                                    placeholder="HAE4" 
                                    >
                            </div>
                            <div class="col-md-2">
                                <input 
                                type="time" 
                                name="horarioHae4" 
                                class="form-control" 
                                id="horarioHae4" 
                                placeholder="Horário HAE-4" 
                                >
                            </div>
                            <div class="col-md-6">
                            <label for="tipo"> Dia da semana HAE-4 </label>                 
                                    <select name = "diaSemanaHae4"> 
                                        <option value = "null"> Selecione uma opção</option>
                                        <option value = "seg."> Segunda-Feira</option>
                                        <option value = "ter."> Terça-Feira</option>
                                        <option value = "qua."> Quarta-Feira</option>
                                        <option value = "qui."> Quinta-Feira</option>
                                        <option value = "sex."> Sexta-Feira</option>
                                        <option value = "sáb."> Sábado</option>
                                        >
                                    </select> 
                                </div>
                            </div>
                            <div class="row mt-3">
                                <div class="col-md-2">
                                    <input 
                                        type="text" 
                                        name="haec1" 
                                        class="form-control" 
                                        id="haec1" 
                                        placeholder="HAEC1" 
                                        >
                                </div>
                                <div class="col-md-2">
                                    <input 
                                    type="time" 
                                    name="horarioHaec1" 
                                    class="form-control" 
                                    id="horarioHaec1" 
                                    placeholder="Horário HAEC-1" 
                                    >
                                </div>
                                <div class="col-md-6">
                                <label for="tipo"> Dia da semana HAEC-1 </label>                 
                                        <select name = "diaSemanaHaec1"> 
                                            <option value = "null"> Selecione uma opção</option>
                                            <option value = "seg."> Segunda-Feira</option>
                                            <option value = "ter."> Terça-Feira</option>
                                            <option value = "qua."> Quarta-Feira</option>
                                            <option value = "qui."> Quinta-Feira</option>
                                            <option value = "sex."> Sexta-Feira</option>
                                            <option value = "sáb."> Sábado</option>
                                            >
                                        </select> 
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-md-2">
                                        <input 
                                            type="text" 
                                            name="haec2" 
                                            class="form-control" 
                                            id="haec2" 
                                            placeholder="HAEC2" 
                                            >
                                    </div>
                                    <div class="col-md-2">
                                        <input 
                                        type="time" 
                                        name="horarioHaec2" 
                                        class="form-control" 
                                        id="horarioHaec2" 
                                        placeholder="Horário HAEC-2" 
                                        >
                                    </div>
                                    <div class="col-md-6">
                                    <label for="tipo"> Dia da semana HAEC-2 </label>                 
                                            <select name = "diaSemanaHaec2"> 
                                                <option value = "null"> Selecione uma opção</option>
                                                <option value = "seg."> Segunda-Feira</option>
                                                <option value = "ter."> Terça-Feira</option>
                                                <option value = "qua."> Quarta-Feira</option>
                                                <option value = "qui."> Quinta-Feira</option>
                                                <option value = "sex."> Sexta-Feira</option>
                                                <option value = "sáb."> Sábado</option>
                                                >
                                            </select> 
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-md-2">
                                            <input 
                                                type="text" 
                                                name="haec3" 
                                                class="form-control" 
                                                id="haec3" 
                                                placeholder="HAEC3" 
                                                >
                                        </div>
                                        <div class="col-md-2">
                                            <input 
                                            type="time" 
                                            name="horarioHaec3" 
                                            class="form-control" 
                                            id="horarioHaec3" 
                                            placeholder="Horário HAEC-3" 
                                            >
                                        </div>
                                        <div class="col-md-6">
                                        <label for="tipo"> Dia da semana HAEC-3 </label>                 
                                                <select name = "diaSemanaHaec3"> 
                                                    <option value = "Null"> Selecione uma opção</option>
                                                    <option value = "seg."> Segunda-Feira</option>
                                                    <option value = "ter."> Terça-Feira</option>
                                                    <option value = "qua."> Quarta-Feira</option>
                                                    <option value = "qui."> Quinta-Feira</option>
                                                    <option value = "sex."> Sexta-Feira</option>
                                                    <option value = "sáb."> Sábado</option>
                                                    >
                                                </select> 
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col-md-2">
                                                <input 
                                                    type="text" 
                                                    name="haec4" 
                                                    class="form-control" 
                                                    id="haec4" 
                                                    placeholder="HAEC4" 
                                                    >
                                            </div>
                                            <div class="col-md-2">
                                                <input 
                                                type="time" 
                                                name="horarioHaec4" 
                                                class="form-control" 
                                                id="horarioHaec4" 
                                                placeholder="Horário HAEC-4" 
                                                >
                                            </div>
                                            <div class="col-md-6">
                                            <label for="tipo"> Dia da semana HAEC-4 </label>                 
                                                    <select name = "diaSemanaHaec4"> 
                                                        <option value = "Null"> Selecione uma opção</option>
                                                        <option value = "seg."> Segunda-Feira</option>
                                                        <option value = "ter."> Terça-Feira</option>
                                                        <option value = "qua."> Quarta-Feira</option>
                                                        <option value = "qui."> Quinta-Feira</option>
                                                        <option value = "sex."> Sexta-Feira</option>
                                                        <option value = "sáb."> Sábado</option>
                                                        >
                                                    </select> 
                                                </div>
                                            </div>             

                <div id="disciplinasContainer"> </div>        
                <div class="form-floating mb-3 mt-3">  
                    <button type="button" class="btn btn-primary" onclick="addDisciplina()">Adicionar Disciplina</button>             
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a href="/impressaos" class="btn btn-warning">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
      

    let disciplinaCount = 1;
    let horarioDiscAtual = null;
    let aulasDiscAtual = null;
    let diaSemanaDiscAtual = null;
    let disciplinaIdAtual = null;
    
    function addDisciplina() {
      if (disciplinaCount < 10) {
        disciplinaCount++;
        horarioDiscAtual = 'horarioDisc' + disciplinaCount;
        aulasDiscAtual = 'aulasDisc' + disciplinaCount;
        diaSemanaDiscAtual = 'diaSemanaDisc' + disciplinaCount;
        disciplinaIdAtual = 'disciplinaId' + disciplinaCount;
        document.getElementById('disciplinasContainer').insertAdjacentHTML('beforebegin', '<label for="disciplinaId">Disciplina-'+disciplinaCount+'</label><div class="form-floating mb-3"><select class="form-control" name='+disciplinaIdAtual+' id='+disciplinaIdAtual+'> <% disciplinas.forEach(disciplina => { %><option value="<%= disciplina.id %>">Nome: <%= disciplina.nomeDisciplina %> - Código: <%= disciplina.codigoDisciplina %> - Semestre: <%= disciplina.semestre %> - Período: <%= disciplina.periodo %></option> <%})%>required></select> </div><div class="form-floating mb-3"><input type="time" name='+horarioDiscAtual+' class="form-control" id='+horarioDiscAtual+' placeholder="Horário da Disciplina" required> <label for='+horarioDiscAtual+'>Horário da disciplina</label> </div> <div class="form-floating mb-3"> <input type="text" name='+aulasDiscAtual+' class="form-control" id='+aulasDiscAtual+' placeholder="Quantidade de aulas" required> <label for='+aulasDiscAtual+'>Quantidade de aulas</label> </div> <label for="tipo">Dia da semana</label><div class="form-floating mb-3"><select name = '+diaSemanaDiscAtual+'><option value = "Null"> Selecione uma opção</option><option value = "seg."> Segunda-Feira</option><option value = "ter."> Terça-Feira</option><option value = "qua."> Quarta-Feira</option><option value = "qui."> Quinta-Feira</option><option value = "sex."> Sexta-Feira</option><option value = "sáb."> Sábado</option>required></select></div>');

                    
      } else {
        alert('Número máximo de disciplinas atingido (10).');
      }
    }

    </script>

<%- include('../partials/footer.ejs') %>