<%- include('../partials/head.ejs') %>
<%- include('../partials/menu.ejs') %>
<br>

<body class="container">
    <div class="small">
        <p class="text-center small"><strong> FATEC MOGI MIRIM  -  REGISTRO DE PRESENÇA DE DOCENTE - <span id="mesAno"> <%= mes%></span></strong></p>
        <hr>
        <div class="row small">
            <div class="col sm-2 p-0">
                <strong>Prof:</strong> <%= impressao.professor.numeroRegistro%> <%= impressao.professor.nome%> <span id="nome"></span>
            </div>
            <div class="col sm-2 p-0">
                <strong>Categoria:</strong> <%= impressao.professor.categoria%> <span id="categoria"></span>
            </div>
            <div class="col sm-2 p-0">
                <strong>Curso:</strong><span id="curso1"> <%= curso1%></span> <span id="curso2"></span> <span id="curso3"></span>
            </div>
        </div>
        <div class="row small">
            <div class="col sm-2 p-0">
                <strong>Disciplinas:</strong> <%= nomeDisciplina1%><span id="IdDisciplina1"></span> <span id="disciplina2"></span> <span id="disciplina3"></span>
            </div>
        <div class="row small">
            <div class="col sm-2 p-0">
                <strong>Aulas:</strong> <%= impressao.aulasDisc1%> <span id="aulas"> </span>
            </div> 
            <div class="col">
                <strong>H.A:</strong> <%= ha%><span id="ha"></span>
            </div>
            <div class="col">
                <strong>H.A.E:</strong> <%= impressao.hae%><span id="hae"></span>
            </div>
            <div class="col">
                <strong>H.A.E.A:</strong><span id="haeaa"></span>
            </div>
            <div class="col">
                <strong>Jornada:</strong><span id="jornada"></span>
            </div>    
        </div>
        <!-- Tabela de presença -->
        <table class="table-bordered small">
            <thead>
                <tr>
                    <th rowspan="2" class="col-sm text-center" >Dia</th>
                    <th colspan="4" class="col-sm text-center">Manhã</th>
                    <th colspan="4" class="col-sm text-center">Tarde</th>
                    <th colspan="4" class="col-sm text-center">Noite</th>
                    <th rowspan="4" class="col-sm-2 text-center">Observações</th>
                </tr>
                <tr>
                    <th class="col-sm">Início</th>
                    <th class="col-sm">Aulas</th>
                    <th class="col-sm">H.A.E</th>
                    <th class="col-sm-2 text-center">Rubrica</th>
                    <th class="col-sm">Início</th>
                    <th class="col-sm">Aulas</th>
                    <th class="col-sm">H.A.E</th>
                    <th class="col-sm-2 text-center">Rubrica</th>
                    <th class="col-sm">Início</th>
                    <th class="col-sm">Aulas</th>
                    <th class="col-sm">H.A.E</th>
                    <th class="col-sm-2 text-center">Rubrica</th>
                </tr>
            </thead>
            <tbody id="table-body" class="small">
                <!-- Conteúdo da tabela será adicionado dinamicamente aqui -->
                </tbody>
        </table>
    </div> 
    <div class="d-print-none"><button type="button" class="btn btn-primary" onclick="window.print()">Imprimir</button></div>
<script>
    // Função para preencher a tabela dinamicamente
    function criarTabela() {
        // Limpar o corpo da tabela
       $("#table-body small").empty();

        // Obter o mês e ano selecionados pelo usuário
        var selectedDate = '2020/03';
        var startDate = new Date(selectedDate + "-01");
        var endDate = new Date(startDate.getFullYear(), startDate.getMonth() + 1, 0);

        // Loop para preencher os dias do mês
        for (var day = startDate.getDate(); day <= endDate.getDate(); day++) {
            var currentDate = new Date(startDate.getFullYear(), startDate.getMonth(), day);
            var dayOfWeek = currentDate.toLocaleDateString('pt-br',  { weekday: 'short' });

        // Adicionar uma nova linha à tabela
        var newRow = "<tr>" +
                "<td>" + dayOfWeek + " - " + day + "</td>" +
                preencherDia("Manha") +
                preencherDia("Tarde") +
                preencherDia("Noite") +
                "<td contenteditable='true'></td>" +
                "</tr>";

            // Adicionar a nova linha ao corpo da tabela
            $("#table-body").append(newRow);
        }
    }

    // Função para preencher as colunas com base nas variáveis do controlador
     function preencherDia(day, turno) {
        var inicio = null//eval("inicio" + turno);
        var aulas = null//eval("aulas" + turno);
        var Hae = null//eval("Hae" + turno);
        var rubrica = isFeriado(day) ? "Feriado" : " - ";

        // Verificar se as variáveis são nulas e, se for o caso, deixar o campo em branco
        inicio = inicio !== null ? inicio : " - ";
        aulas = aulas !== null ? aulas : " - ";
        Hae = Hae !== null ? Hae : " - ";

        return "<td contenteditable='true'>" + inicio + "</td>" +
               "<td contenteditable='true'>" + aulas + "</td>" +
               "<td contenteditable='true'> "+ Hae +" </td>" +
               "<td contenteditable='true'>" + rubrica + "</td>";
    }

    // Função para verificar se é feriado
    function isFeriado(day) {
        // Lógica para determinar se é feriado ou não, baseado na data
        // Pode ser implementada conforme necessário
        return false;
    }


    // Inicializar a tabela quando a página carregar
    criarTabela();
</script>


<%- include('../partials/footer.ejs') %>