<%- include('../partials/head.ejs') %>
<%- include('../partials/menu.ejs') %>
<br>

<body class="container">
    <div class="small">
        <p class="text-center small"><strong> FATEC MOGI MIRIM  -  REGISTRO DE PRESENÇA DE DOCENTE - <span id="mesAno"> <%= mes%></span></strong></p>
        <div class="row small">
            <div class="col">
                <p class="small"><strong>Prof:</strong> <%= impressao.professor.numeroRegistro%> <%= impressao.professor.nome%> <span id="nome"></span></p>
            </div>
            <div class="col">
                <p class="small"><strong>Categoria:</strong> <%= impressao.professor.categoria%> <span id="categoria"></span></p>
            </div>
            <div class="col">
                <p class="small"><strong>Curso:</strong><span id="curso1"> <%= curso1%></span> <span id="curso2"></span> <span id="curso3"></span></p>
            </div>
        </div>
        <div class="row small">
            <div class="col">
                <p class="small"><strong>Disciplinas:</strong> <%= nomeDisciplina1%><span id="IdDisciplina1"></span> <span id="disciplina2"></span> <span id="disciplina3"></span></p>
            </div>
        <div class="row small">
            <div class="col">
                <p class="small"><strong>Aulas:</strong> <%= impressao.aulasDisc1%> <span id="aulas"></span></p>
            </div> 
            <div class="col">
                <p class="small"><strong>H.A:</strong> <%= ha%><span id="ha"></span></p>
            </div>
            <div class="col">
                <p class="small"><strong>H.A.E:</strong> <%= impressao.hae%><span id="hae"></span></p>
            </div>
            <div class="col">
                <p class="small"><strong>H.A.E.A:</strong><span id="haeaa"></span></p>
            </div>
            <div class="col">
                <p class="small"><strong>Jornada:</strong><span id="jornada"></span></p>
            </div>    
        </div>
        <!-- Tabela de presença -->
        <table class="table-bordered small">
            <thead>
                <tr>
                    <th rowspan="2" class="small">Dia</th>
                    <th colspan="4" class="small">Manhã</th>
                    <th colspan="4" class="small">Tarde</th>
                    <th colspan="4" class="small">Noite</th>
                    <th rowspan="4" class="small">Observações</th>
                </tr>
                <tr>
                    <th class="small">Início</th>
                    <th class="small">Aulas</th>
                    <th class="small">H.A.E</th>
                    <th class="small">Rubrica</th>
                    <th class="small">Início</th>
                    <th class="small">Aulas</th>
                    <th class="small">H.A.E</th>
                    <th class="small">Rubrica</th>
                    <th class="small">Início</th>
                    <th class="small">Aulas</th>
                    <th class="small">H.A.E</th>
                    <th class="small">Rubrica</th>
                </tr>
            </thead>
            <tbody id="table-body" class="small">
                <!-- Conteúdo da tabela será adicionado dinamicamente aqui -->
                </tbody>
        </table>
    </div> 
    <div class="d-print-none"><button type="button" class="btn btn-primary" onclick="window.print()">Imprimir</button></div>
<script>
    // Função para preencher a tabela dinamicamente
    function criarTabela() {
        // Limpar o corpo da tabela
       // $("#table-body small").empty();

        // Obter o mês e ano selecionados pelo usuário
        var selectedDate = '2020/03';
        var startDate = new Date(selectedDate + "-01");
        var endDate = new Date(startDate.getFullYear(), startDate.getMonth() + 1, 0);

        // Loop para preencher os dias do mês
        for (var day = startDate.getDate(); day <= endDate.getDate(); day++) {
            var currentDate = new Date(startDate.getFullYear(), startDate.getMonth(), day);
            var dayOfWeek = currentDate.toLocaleDateString('pt-br',  { weekday: 'short' });

            // Adicionar uma nova linha à tabela
            var newRow = "<tr>" +
                "<td>" + day + " - " + dayOfWeek + "</td>" +
                "<td contenteditable='true'></td>" +
                "<td contenteditable='true'></td>" +
                "<td contenteditable='true'></td>" +
                "<td contenteditable='true'></td>" +
                "<td contenteditable='true'></td>" +
                "<td contenteditable='true'></td>" +
                "<td contenteditable='true'></td>" +
                "<td contenteditable='true'></td>" +
                "<td contenteditable='true'></td>" +
                "<td contenteditable='true'></td>" +
                "<td contenteditable='true'></td>" +
                "<td contenteditable='true'></td>" +
                "<td contenteditable='true'></td>" +
                "</tr>";

            // Adicionar a nova linha ao corpo da tabela
            $("#table-body").append(newRow);
        }
    }


    // Inicializar a tabela quando a página carregar
    criarTabela();
</script>


<%- include('../partials/footer.ejs') %>