<%- include('../partials/head.ejs') %>
<%- include('../partials/menu.ejs') %>

<br>
<div class="container">
    <div class="card">
        <div class="card-header">
            Editar Curso
        </div>
        <div class="card-body">
            <form method="post" action="/cursos/salvar">
                <input type="hidden" name="id" value="<%= curso.id %>">
                <div class="form-floating mb-3">
                    <input 
                        type="text" 
                        name="nome" 
                        id="nome" 
                        class="form-control" 
                        placeholder="Nome do curso" 
                        value="<%= curso.nomeCurso %>"
                        required>
                    <label for="nome">Nome do curso</label>
                </div>
                <div class="form-floating mb-3">
                    <input 
                        type="text" 
                        name="codigoCurso" 
                        id="codigoCurso" 
                        class="form-control" 
                        placeholder="Codigo do curso" 
                        value="<%= curso.codigoCurso %>"
                        required>
                    <label for="codigoCurso">Código do curso</label>
                </div>
                    <label for="periodo">Período do curso</label>
                    <div class="form-floating mb-3">
                        <select name = "periodo"> 
                            <option value = "<%= curso.periodo %>"> <%= curso.periodo %></option>
                            <option value = "Manhã"> Manhã</option>
                            <option value = "Tarde"> Tarde</option>
                            <option value = "Noite"> Noite</option>
                            <option value = "EAD"> EAD</option>
                        required>
                    </select> 
                    </div>
                </div>
                <div class="form-floating mb-3">
                    <button type="submit" class="btn btn-primary">Alterar</button>
                    <a href="/cursos" class="btn btn-warning">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>