<%- include('../partials/head.ejs') %>
<%- include('../partials/menu.ejs') %>

<br>
<div class="container">
        <% if(msgNOKCreateDisciplina == '1') {%>
            <div class="alert alert-danger">
                <strong>:( Preencher todos os campos!</strong>             
            </div>
        <% } %>
    <div class="card">
        <div class="card-header">
            Novo Disciplina
        </div>
        <div id="alerta"></div>
        <div class="card-body">
            <form method="post" action="/disciplinas">    
        <div class="form-floating mb-3">
            <input 
                type="text" 
                name="nomeDisciplina" 
                id="nomeDisciplina" 
                class="form-control" 
                placeholder="Nome do Disciplina" 
                required>
            <label for="nomeDisciplina">Nome da Disciplina</label>
        </div>
        <div class="form-floating mb-3">
            <input 
                type="text" 
                name="codigoDisciplina" 
                id="codigoDisciplina" 
                class="form-control" 
                placeholder="Codigo do Disciplina" 
                required>
            <label for="codigoDisciplina">Código da Disciplina</label>
        </div>
        <div class="form-floating mb-3">
            <select class="form-control" name="cursoId" id="cursoId">
                <option value="" disabled selected>Selecione o curso</option>
                <% cursos.forEach(curso => { %>
                    <option value="<%= curso.id %>">Nome do Curso: <%= curso.nomeCurso %> Código: <%= curso.codigoCurso %> </option>
                <%})%>
                required>
            </select>
        </div>
        <label for="semestre">Semestre da Disciplina</label>
        <div class="form-floating mb-3">
            <select name = "semestre"> 
                <option value="null" disabled selected>Selecione o semestre</option>
                <option value = "primeiro"> Primeiro</option>
                <option value = "segundo"> Segundo</option>
                <option value = "terceiro"> Terceiro</option>
                <option value = "quarto"> Quarto</option>
                <option value = "quinto"> Quinto</option>
                <option value = "sexto"> Sexto</option>
                required>
        </select>
        </div>
        <label for="periodo">Período do Disciplina</label>
        <div class="form-floating mb-3">
            <select name = "periodo"> 
                <option value="null" disabled selected>Selecione o período</option>
                <option value = "Manhã"> Manhã</option>
                <option value = "Tarde"> Tarde</option>
                <option value = "Noite"> Noite</option>
                required>
        </select>
        </div>
                <div class="form-floating mb-3">
                    <button type="submit" class="btn btn-primary">Salvar</button>
                    <a href="/disciplinas" class="btn btn-warning">Cancelar</a>
                </div>
            </form>
        </div>
    </div>
    </div>
</div>

<%- include('../partials/footer.ejs') %>